<ion-view title="Dashboard">
    <ion-nav-buttons side="right">
        <btn-settings 
            actions="actions" 
            buttom-class="button-assertive" 
            buttom-active-class="button-energized" 
            no-border="true" 
            icon=""
            icon-active="ion-android-arrow-dropup" 
            item-class="dark-bg light" 
            on-click="fn1(isopened)">
        </btn-settings>
    </ion-nav-buttons>
    <div class="bar bar-subheader">
        <h2 class="title">Sub Header</h2>
        <btn-settings>
            <div class="list">
                <div class="item dark-bg light" ng-click="fn1(-1)">Menu 1</div>
                <a class="item dark-bg light" href="#/tab/chats">Chats</a>
                <a class="item dark-bg light" href="#/tab/account">Account</a>
            </div>
        </btn-settings>
    </div>
    <ion-content class="padding has-subheader">
        <h2>Tabs sample with settings button</h2>
    </ion-content>
</ion-view>